.aurora-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Можно также использовать 100vh, но 100% здесь сработает */
  z-index: -1;  /* Очень важно: это поместит фон позади всего остального контента */
}
