* {
  cursor: none !important;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  will-change: transform;
  transition: background-color 0.2s, width 0.2s, height 0.2s, border-color 0.2s;
  mix-blend-mode: difference;
}

.custom-cursor.hovered {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: transparent;
}
